body {
  height: 100svh;
  width: 100svw;
  background-image: linear-gradient(210deg, transparent 10%, black 55%),
    url("./images/bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

p {
  font-size: 16px;
  font-weight: 200;
}

div#offers {
  width: 90%;
  display: flex;
  gap: 2px;
}

button {
  border: 1px solid transparent;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem;
  padding: 1.5rem;
  border-radius: 2rem;
}

button.best-offer {
  position: relative;
}

#best-offer {
  font-size: 0.65rem;
  font-weight: 600;
  position: absolute;
  top: -0.6rem;
  left: 65%;
  background: linear-gradient(to right, #a622f1, #102eda);
  padding: 0.1rem 1rem 0.1rem 1rem;
  border-radius: 1rem;
  text-align: center;
}

#best-offer::before {
  position: relative;
  background: linear-gradient(to right, white, yellow);
  padding: initial;
  width: 100%;
  height: 100%;
}

button :not(#continue) {
  color: white;
}

button#continue {
  margin-top: 0.6rem;
}

button.active {
  background-color: #24212e;
  border: 1px solid white;
}

button.inactive {
  background-color: #535359;
}

button.active #best-offer {
  background: white;
  color: black;
}

button.inactive.best-offer {
  position: relative;
}

button.inactive.best-offer::before {
  border-radius: 2rem;
  content: "";
  background-image: linear-gradient(to right, #a622f1 65%, #102eda 100%);
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  position: absolute;
  z-index: -1;
}

button p {
  font-size: 12px;
}

button div {
  text-align: left;
}

#continue {
  color: black;
  justify-content: center;
  background-color: white;
  font-size: 16px;
  font-weight: 600;
}

#prices {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a#cross {
  position: fixed;
  top: 10%;
  left: 5%;
}

img {
  width: 100%;
  position: relative;
}

div.offer-img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 50%, #9523ee 225%);
  border-radius: 10px;
}

.offer p {
  color: white;
  position: absolute;
  font-size: 13px;
  text-align: start;
  padding-left: 0.5rem;
  top: 70%;
}

div.offer {
  position: relative;
  text-wrap: wrap;
  width: calc(100% / 3);
  text-align: center;
}

#img-art {
  content: url("./images/art.jpg");
  border-radius: 10px;
}

#img-styles {
  content: url("./images/styles.jpg");
  border-radius: 10px;
}

#img-avatars {
  content: url("./images/avatars.jpg");
}

#access {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

footer a {
  color: gray;
  font-size: 0.6rem;
}
